@model HelloFood.Core.ViewComponents.HeaderViewComponent.HeaderViewComponentModel

@{
    if (Model.Links == null || !Model.Links.Any()) return;
}

<header class="header__wrapper container-fluid">
    <div class="container header__container">
        <div class="row">
            <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-start align-items-center">
                <span>Logo</span>
            </div>

            @foreach(var item in Model.Links)
            {
                if(item.Url == "#section-3")
                {
                    <div class="d-none col-3 d-md-inline-flex justify-content-end">
                        <a class="header__link btn btn--cta" aria-label="navigation link for @(item.Url)" href="@(item.Url)" target="@(item.Url)">@item.Name</a>
                    </div>
                }
                else
                {
                    <div class="d-none col-3 d-md-flex align-items-center">
                        <a class="header__link" aria-label="navigation link for @(item.Url)" href="@(item.Url)" target="@(item.Url)">@item.Name</a>
                    </div>
                }
            }
        </div>
    </div>
</header>